/* Слайдер */
.slick-slider {
    position: relative;
    display: flex;
    align-items: center;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
}
/* Слайд */
.slick-slide {
    margin: 0 auto;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
    position: absolute;
    z-index: 100;

    font-size: 0px;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    background: url(../img/main/slider/slider_arrow_left.png) no-repeat center;

    width: 52px;
    height: 82px;
    left: 0px;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    background: url(../img/main/slider/slider_arrow_right.png) no-repeat center;

    width: 52px;
    height: 82px;
    right: 0px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
    display: flex;
}

.slider__item {
}

.slider__kuk {
    display: flex;
    align-items: center;
    max-width: 1020px;
    margin: 0 auto;
}

.slider__img {
    padding: 42px 42px;
    border: 3px solid #95e1d3;
    & img {
        width: 63px;
        height: 61px;
    }
    &-2 {
        border: 0;
        padding: 0;
        & > img {
            width: 210px;
            height: 210px;
            border-radius: 50%;
            display: block;
        }
    }
}

.slider__info {
    margin-left: 64px;
}

.slider__text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-bottom: 20px;
}

.slider__name {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    &:before {
        content: "";
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-right: 10px;
        position: relative;
        top: -5px;
    }
}
