@import "_null.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_slider.scss";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");

.intro {
    padding-top: 90px;
    // .intro__text

    &__text {
        max-width: 960px;
        margin: 90px auto 0px;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }

    // .intro__cards

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
}

.titles {
    text-align: center;
    // .titles__subtitle

    &__subtitle {
        font-family: "Kaushan Script";
        font-size: 24px;
        color: #333333;
    }

    // .titles__title

    &__title {
        margin-top: 22px;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333333;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: calc(50% - 30px);
            bottom: -40px;
            width: 60px;
            height: 3px;
            background-color: #f38181;
        }
    }
}

.intro-card {
    flex: 0 0 31.66%;
    background-color: #95e1d3;
    height: 250px;
    position: relative;

    &-team {
        height: 470px;
    }

    // .intro-card__img

    &__img {
        top: 0;
        left: 0;
        position: absolute;

        &:hover {
            top: -10px;
            left: -10px;
        }
    }

    // .intro-card__up

    &__up {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.89) 0%, rgba(243, 129, 129, 0.89) 100%);
        &:hover {
            opacity: 1;
        }
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon {
    }

    &__title {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 10px;
    }
}

.intro-footer {
    background-color: #95e1d3;
    margin-top: 110px;
    margin-bottom: 110px;
    // .intro-footer__column
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 268px;
        border-left: 1px solid rgba(255, 255, 255, 0.425);
        &:first-child {
            border-left: 0px;
        }
    }

    // .intro-footer__num

    &__num {
        font-family: Montserrat;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 27px;
    }

    // .intro-footer__txt

    &__txt {
        font-family: Montserrat;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
    }
}

.works {
    // .works__row
    margin-bottom: 55px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 42px;
    }

    // .works__column

    &__column {
        display: flex;
        flex: 0 0 33.3%;
        height: 185px;
        overflow: hidden;
        padding: 62px 30px 0px 30px;
    }

    // .works__logo

    &__logo {
        width: 32px;
        height: 32px;
    }

    // .work__text

    &__text {
        margin-left: 26px;
    }

    // .work__title

    &__title {
        font-family: Montserrat;
        font-weight: 700;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 19px;
    }

    // .work__subtitle

    &__subtitle {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        max-width: 275px;
    }
}

.design {
    background: url(../img/main/design/design_bg.png) no-repeat center;
    background-size: cover;
    padding-top: 108px;

    // .design__planshet

    &__planshet {
        position: absolute;
        top: 0;
        left: calc(50% - 260px);
    }

    // .design__phone

    &__phone {
        position: absolute;
        top: calc(100% - 385px);
        left: calc(50% + 110px);
    }

    // .design__wrapper

    &__wrapper {
        position: relative;
        margin-top: 80px;
        height: 582px;
        margin-bottom: 110px;
    }
}

.service {
    // .service__text

    &__text {
        text-align: center;
        max-width: 965px;
        margin: 90px auto;
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }

    // .service__info

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    // .service__image

    &__image {
        width: 570px;
        height: 380px;
    }
}

.service-opener {
    // .service-opener__punct
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;

    &__punct {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    // .service-opener__header

    &__header {
        padding: 15px 20px 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #e5e5e5;
        cursor: pointer;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__arrow {
        width: 22px;
        height: 12px;
    }
    // .service-opener__title

    &__title {
        margin-left: 12px;
        font-family: Montserrat;
        text-transform: uppercase;
        color: #333333;
        font-weight: 700;
    }

    // .service-opener__inform

    &__inform {
        display: none;
        border: 1px solid #e5e5e5;
        border-top: hidden;
        padding: 20px 55px 30px 20px;
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        height: 170px;
        overflow-y: scroll;

        &-active {
            display: block;
        }
    }
}

.comments {
    background-color: #f8f8f8;
    margin-top: 120px;
    margin-bottom: 100px;
}

.team {
    font-size: 0;
    &__links {
        display: inline-block;
        width: 56px;
        height: 56px;
        background-color: #fce38a;
        margin: 0;
        border-right: 1px solid#f38181;
        &:last-child {
            border-right: 0px;
        }
        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        &:hover {
            opacity: 0.5;
            background-color: #f38181;
        }
    }
}
